/* 这些引入，处理默认样式。 */
/* 参考 https://www.w3cschool.cn/tailwind_css/tailwind_css-5fex3paz.html */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  font-family: PingFangSC-Regular;
  touch-action: pan-y;
}

/* 以下代码不生效，不知为何，会被覆盖，应该是顺序问题 */

@layer components {
  .btn {
    @apply bg-blue-500 hover:bg-blue-700;
  }
}