/* 这些引入，处理默认样式。 */
/* 参考 https://www.w3cschool.cn/tailwind_css/tailwind_css-5fex3paz.html */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  font-family: PingFangSC-Regular;
  touch-action: pan-y;
}
